@import './src/styles/categories.css';
@import './src/styles/dataTable.css';
@import './src/styles/overview.css';

:root {
  --main_font_color: rgb(146, 75, 75);
  --main_color: #361b1b;
  --main_off_color: rgb(114, 44, 44);

  --main_btn_color: rgb(87, 146, 87);
  --main_off_btn_color: rgb(148, 190, 149);
  --second_btn_color: wheat;
  --second_off_btn_color: rgb(216, 192, 149);

  --main_border: 2px solid var(--main_font_color);

  --modal_bg_color: rgb(114, 105, 105);
  --transition: 1s all ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #333;
  color: var(--main_font_color);
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.chart-container {
  width: 30%;
  display: inline-block;
}
