#categories_section {
  padding: 1rem;
}

#categories {
  min-height: 2rem;
}

#categories_input {
  margin: 1rem 0;
}

#add_category_value,
#add_category_btn {
  font-size: 1.25rem;
}

#category {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 4rem;
  border: var(--main_border);
  margin: 0.5em 0.5em;
  padding: 0.25em;
  cursor: pointer;
}

#category:hover {
  background: var(--main_off_color);
}

#category_modal {
  position: absolute;
  min-width: 30%;
  max-width: 50%;
  min-height: 30vh;
  top: 50%;
  left: 50%;
  background: var(--modal_bg_color);
  border: 4px double var(--second_btn_color);
  transform: translate(-50%, -50%);
}

#category_modal img {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  border: 2px solid var(--main_color);
  cursor: pointer;
}

#category_modal img:hover {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background: var(--main_off_color);
}

#category_modal > div {
  padding: 1em 0.5em;
}

#modal_title,
#modal_current_filters {
  color: #361b1b;
}
#modal_title .title {
  color: wheat;
}

#modal_close_btn {
  width: 3rem;
  height: 3rem;
  margin: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--main_color);
  border: 2px solid var(--main_off_color);
  color: var(--main_off_color);
  border-radius: 10px;
  font-size: 1.25em;
  transition: 0.2s all ease;
}

#modal_close_btn:hover {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background: var(--main_off_color);
}

#modal_category_remove_btn {
  padding: 0.3rem;
  height: 3rem;
  margin: 0.5em;
  position: absolute;
  top: 0;
  right: 4rem;
  background: var(--main_color);
  border: 2px solid var(--main_off_color);
  color: var(--main_off_color);
  border-radius: 10px;
  font-size: 1.25em;
  transition: 0.2s all ease;
}

#modal_category_remove_btn:hover {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background: var(--main_off_color);
}

#modal_input_wrapper {
  position: absolute;
  bottom: 0;
  margin: auto;
}
#modal_add_category_value,
#modal_add_category_btn {
  font-size: 1.25em;
  height: 3.2rem;
}

#modal_add_category_value {
  padding-left: 0.5em;
}

#modal_add_category_btn,
#add_category_btn {
  width: 3rem;
  color: var(--main_off_btn_color);
  border: 2px solid var(--main_off_btn_color);
  background-color: var(--main_btn_color);
  transition: 0.2s all ease;
}

#modal_add_category_btn:hover,
#add_category_btn:hover {
  color: var(--main_btn_color);
  border: 2px solid var(--main_btn_color);
  background: var(--main_off_btn_color);
}

.filter {
  margin: 0.5em;
  padding: 0.25em;
  border: 2px solid var(--main_color);
  cursor: pointer;
}

.filter:hover {
  background: #555;
}
