#overview img {
  height: 2.5em;
  width: 2.5em;
  margin: 0.5em;
}

.budget_card {
  margin: 0.5em;
  min-height: 16em;
  min-width: 16em;
  border: 2px solid var(--second_btn_color);
  transition: var(--transition);
}

.budget_card_title {
  padding: 0.2em 1em;
  background: var(--second_btn_color);
}
.budget_card_title h2 {
  margin: 0.5em 0;
}

.stats {
  background-color: var(--second_btn_color);
  margin: 0.5em;
  text-align: center;
}

.budget_percent {
  font-size: 3em;
  margin: auto;
  text-align: center;
}

.details p {
  margin: 0.25rem 0.5rem;
}

#details_btn {
  padding: 0.25rem;
  margin: auto;
  display: flex;
  background: var(--main_color);
  border: 2px solid var(--main_off_color);
  color: var(--main_off_color);
  font-size: 1.25em;
  transition: 0.2s all ease;
  cursor: pointer;
}
#details_btn:hover {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background: var(--main_off_color);
}
